body{
  background-color: black;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.overlay{
/*  background: rgb(255,253,253);
  background: radial-gradient(circle, rgba(255,253,253,0) 34%, rgba(0,0,0,1) 75%);*/
  z-index: 100;
  position: fixed;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@media screen and (max-width: 360px) {
  .App{
    height: calc(100vh - 65px);
  }
  .overlay{
    height: calc(100vh - 65px);
  }
}
